body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

p {
    font-weight: 500;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 999;
    text-shadow: 4px 4px 7px black; /* Increase blur radius for more blurry shadow */
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Make container relative to position the line */
}

/* Main line for hover and animation */
.line {
    position: absolute;
    padding-right: 1px;
    bottom: -2px; /* Adjust to align the line properly */
    left: 0;
    height: 2px;
    background-color: transparent;
    transition: width 0.3s, background-color 0.3s; /* Transition for width and background color */
    width: 0; /* Start with a width of 0 */
}

/* Change line background color on hover */
.nav-links li:hover .line {
    background-color: white;
}

/* Set full width for line on hover */
.nav-links li:hover .line {
    width: 100%;
}


.logo {
    color: white;
    font-family: 'Rubik Glitch', sans-serif;
    font-size: 24px;
    text-decoration: none;
    font-weight: normal;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-bottom: 2px solid transparent;
    /* Add a transparent bottom border initially */
    transition: border-color 0.3s ease;
    /* Add transition for smooth effect */
}


/* Add styles for the links on hover */
.nav-links li a:hover {
    border-bottom: 2px solid white;
    /* Change the bottom border color on hover */
}

.nav-links .line {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: white;
    transition: left 0.3s, width 0.3s;
    width: 0;
}



#particles-js {
    position: relative;
    height: 100vh;
    background: rgb(0, 0, 0);
    z-index: 1;
}

.welcome-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    color: white;
}


.welcome-text h1 {
    font-size: 56px;
    color: #fff;
}

.welcome-text p {
    font-size: 28px;
    width: 600px;
    color: #fff;
}

.typed-paragraph::after {
    content: '|';
    display: inline-block;
    animation: cursor-blink 1s infinite;
}

.cursor {
    color: #fff;
    font-size: 1em;
    display: inline-block;
    animation: cursor-blink 1s infinite;
}

@keyframes cursor-blink {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

.rubik-glitch {
    font-family: 'Rubik Glitch', sans-serif;
}

.aboutUsRubik {
    font-family: 'Rubik Glitch', sans-serif;

    font-weight: 100;
}

.about-section {
    background-color: #f2f2f2;
    padding: 50px 0;
    position: relative;
}

.about-section .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-section .about-text {
    flex-basis: calc(50% - 20px);
    /* Adjust as needed, considering margin and padding */
    text-align: left;
}

.about-section .image-gallery {
    flex-basis: calc(50% - 20px);
    /* Adjust as needed, considering margin and padding */
    text-align: right;
}

.about-section img {
    max-width: 100%;
    /* Adjust image width */
    display: block;
    margin: 0 auto 20px;
    /* Adjust as needed */
    opacity: 0;
    animation: fadeInUp 1s ease forwards;
    /* Add animation */
}

/* Delay animation for each image */
.about-section img:nth-child(1) {
    animation-delay: 0.5s;
}

.about-section img:nth-child(2) {
    animation-delay: 1s;
}

.about-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

.about-section p {
    font-size: 18px;
    color: #555;
}

.about-section .image-gallery {
    flex-basis: calc(50% - 20px);
    /* Adjust as needed, considering margin and padding */
    text-align: right;
    margin-top: 80px;
    /* Add margin from the top */
}

.about-section img {
    width: 100%;
    max-width: 600px;
    /* Adjust the maximum width of the image */
    height: auto;
    /* Ensures image aspect ratio is maintained */
    display: block;
    margin: 0 auto 20px;
    /* Adjust as needed */
    opacity: 0;
    animation: fadeInUp 1s ease forwards;
    /* Add animation */
}

/* Delay animation for each image */
.about-section img:nth-child(1) {
    animation-delay: 0.5s;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Delay animation for each image */
.about-section img:nth-child(1) {
    animation-delay: 0.5s;
}

.about-section img:nth-child(2) {
    animation-delay: 1s;
}