body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

p {
    font-weight: 500;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 0;
    z-index: 999;
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-family: 'Rubik Glitch', sans-serif;
    font-size: 24px;
    text-decoration: none;
    font-weight: normal;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

#particles-js {
    position: relative;
    height: 100vh;
    background: rgb(0, 0, 0);
    z-index: 1;
}

.welcome-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    color: white;
}

.welcome-text h1 {
    font-size: 56px;
    color: #fff;
}

.welcome-text p {
    font-size: 28px;
    width: 600px;
    color: #fff;
}


.typed-paragraph::after {
    content: '|';
    display: inline-block;
    animation: cursor-blink 1s infinite;
}

.cursor {
    color: #fff; 
    font-size: 1em;
    display: inline-block;
    animation: cursor-blink 1s infinite;
}

@keyframes cursor-blink {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.rubik-glitch {
    font-family: 'Rubik Glitch', sans-serif;
}

.about-section {
    background-color: #f2f2f2;
    padding: 50px 0;
    position: relative;
}

.about-section .container {
    text-align: center;
    position: relative; /* Needed for absolute positioning */
}

.about-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

.about-section p {
    font-size: 18px;
    color: #555;
}

.about-section img {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 0 auto 20px; /* Adjust as needed */
    animation: fadeInUp 1s ease forwards; /* Add animation */
}

.about-section .image-gallery {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.about-section img {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 0 auto 20px; /* Adjust as needed */
    opacity: 0;
    animation: fadeInUp 1s ease forwards; /* Add animation */
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Delay animation for each image */
.about-section img:nth-child(1) {
    animation-delay: 0.5s;
}

.about-section img:nth-child(2) {
    animation-delay: 1s;
}