@import url('https://fonts.googleapis.com/css?family=Montserrat:700,800&display=swap');

$white: #fff;
$black: #000;

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.full {
  width: 100vw;
  height: 100vh;
}

.text {
  @extend .full;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  font-size: 8rem;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  mix-blend-mode: difference;
  
  span {
    display: block;
    
    :last-child {
      font-size: 0.5em;
      font-weight: 700;
      letter-spacing: 0.08em;
    }
  }
}

.bg-block {
  @extend .full;
  background-color: $white;
  
  &.black {
    background-color: $black;
  }
}